.App {
  text-align: center;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 5px;
}

.navbar h1 {
  font-family: 'Chalkduster', sans-serif;
  font-size: 4rem;
}

.searchClear {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:80%
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
  padding: 20px;
}
